.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,  1fr));
    justify-content: flex-start;
    overflow-y: scroll;
    margin:0px 5px;
    height: 99%;
    grid-gap:4px;
}